/* #edede9, #d6ccc2, #f5ebe0, #e3d5ca, #d5bdaf */

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d6ccc2;
}

canvas{
  background-color: #edede9;
  border-radius: 2rem;
  border: 1px solid #EEE;
  box-shadow: 0px 0px 2vh 1vh #d6ccc2 , 0px 0px min(5vw, 5vh) min(5vw, 5vh) #FFF;
}
